[
  {chatterbox,
   [
    {ssl, true},
%   {ssl_options, [{port,       2197},
%                  {certfile,   "localhost.crt"},
%                  {keyfile,    "localhost.key"},
%                  {honor_cipher_order, false},
%                  {versions, ['tlsv1.2']},
%                  {alpn_preferred_protocols, [<<"h2">>]}]}
    {ssl_options, [{port,       2197},
                   {certfile,   "com.apple.push.api.cert.pem"},
                   {keyfile,    "com.apple.push.api.key.unencrypted.pem"},
                   {cacertfile, "FakeAppleAllCAChain.cert.pem"},
                   {honor_cipher_order, false},
                   {fail_if_no_peer_cert, true},
                   {verify, verify_peer},
                   {versions, ['tlsv1.2']},
                   {alpn_preferred_protocols, [<<"h2">>]}]}
   ]},
  {lager, [
    {handlers, [
      {lager_console_backend, debug}
    ]}
  ]}
].
