[
 {apns_erl_sim,
  [
   %% The key path is a directory that contains unencrypted PKCS8 signing key
   %% files named APNsAuthKey_<Team ID>_<Bundle ID>_<Key ID>.p8; for example,
   %% "APNsAuthKey_4G35EG2G6D_com.example.FakeApp_3Q32PK5B3Z.p8". The files and
   %% directory must be readable by the process under which the simulator is
   %% running.
   %%
   %% Rules:
   %%
   %% 1. The Team ID must match the `iss' field sent in the auth token (JWT);
   %% 2. The `apns-topic' HTTP/2 header sent by the client must match the
   %%    Bundle ID; and
   %% 3. The Key ID must match the `kid' sent in the auth token (JWT).
   %% 4. Obviously, the `iat' value must not be older than an hour, so
   %%    clock synchronization between the client and the simulator needs
   %%    to be pretty good.
   {jwt_key_path, "jwts"}
  ]
 },

 {chatterbox,
   [
    {ssl, true},
%   {ssl_options, [{port,       2197},
%                  {certfile,   "localhost.crt"},
%                  {keyfile,    "localhost.key"},
%                  {honor_cipher_order, false},
%                  {versions, ['tlsv1.2']},
%                  {alpn_preferred_protocols, [<<"h2">>]}]}
    {ssl_options, [{port,       2197},
                   {certfile,   "certs/FakeAppleProdPushServer.cert.pem"},
                   {keyfile,    "certs/FakeAppleProdPushServer.key.unencrypted.pem"},
                   {cacertfile, "certs/FakeAppleAllCAChain.cert.pem"},
                   {honor_cipher_order, false},
                   %{fail_if_no_peer_cert, true},
                   {verify, verify_peer},
                   {versions, ['tlsv1.2']},
                   {alpn_preferred_protocols, [<<"h2">>]}]}
   ]},
  {lager, [
    {handlers, [
      {lager_console_backend, debug}
    ]}
  ]}
].
