[
  {chatterbox,
   [
    {port, 2197},
    {ssl, true},
    {ssl_options, [{certfile,   "localhost.crt"},
                   {keyfile,    "localhost.key"},
                   {honor_cipher_order, false},
                   {versions, ['tlsv1.2']},
                   {alpn_preferred_protocols, [<<"h2">>]}]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, debug}
    ]}
  ]}
].
